

body{
	position: relative;
	/*color: var(--color-white);*/
	min-height: 100vh;
	height: auto;
}

.movieCard{
	background-color: rgb(0,0,0,0.7);
}

.movieCard h2{
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 28px;
}

.movieCard figure{
	margin: 0;
	height: 250px;
	overflow: hidden;
	position: relative;
}

.movieCard figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

figcaption{
	position: absolute;
	left: 0;
	width: 100%;
	top: 30%;
	background-color: rgb(0,0,0,.7);
	height: 70%;
	padding: 20px;
	transform: translateY(100%);
	opacity: 0;
	transition: all .4s ease-in-out;
	overflow-y: auto;
}


.movieModel .card {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.movieCard:is(:hover, :focus, :active) figcaption{
	transform: translateY(0%);
	opacity: 1;
	
}
